@model IEnumerable<mvc_comfi.Models.comfi.Furniture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prodimg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodquantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodprice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prodimg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prodquantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prodprice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Prodid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Prodid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Prodid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
