@model mvc_comfi.Models.comfi.Decor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Decor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodimg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodimg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodquantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodquantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodprice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Prodid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
